* {
  margin: 0px;
}
.App {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
svg {
  position: absolute;
  bottom: -47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#box1 {
  width: 530px;
  height: 625px;
  position: absolute;
  bottom: -100%;
  left: 50%;
  animation: anim 1s forwards, anim2 1.5s forwards 1.5s;
  z-index: 1;
  transform: translate(-50%, -50%);
}
#box1::after {
  position: absolute;
  width: 530px;
  height: 625px;
  left: 0px;
  z-index: -1;
}
@keyframes anim {
  from {
    bottom: -100%;
  }
  to {
    bottom: -18%;
  }
}
@keyframes anim2 {
  from {
    left: 50%;
    width: 530px;
  }
  to {
    width: 0px;
    left: 75%;
  }
}
#box2 {
  font-family: "Bahnschrift Condensed";
  color: rgba(255, 255, 255, 0.323);
  font-size: 7em;
  font-weight: 500;
  line-height: auto;
  position: absolute;
  top: 7.5rem;
  left: 10rem;
  overflow: hidden;
}
#text {
  position: relative;
  left: -100%;
  animation: anim3 1s forwards 1.5s;
}
@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
#box3 {
  overflow: hidden;
}
#container {
  width: 100%;
  position: absolute;
  top: -100%;
  animation: anim4 1s forwards 1.25s;
}
#logo {
  float: left;
  width: auto;
  margin-left: 50px;
  margin-top: 1.5rem;
}
#logo h2 {
  width: auto;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  cursor: pointer;
}
#menu {
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.644);
  letter-spacing: 2px;
  margin-right: 3rem;
  margin-top: 2rem;
  float: right;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  display: inline-block;
  margin: 0 2rem;
  padding: 3px;
}
#menu ul li:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
}
@keyframes anim4 {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
/* #svgCircle {
  stroke-dasharray: 1256;
  stroke-dashoffset: 1256;
} */
span {
  position: absolute;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0);
  animation: anim5 1.5s forwards 3s;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
#step1 {
  right: -223px;
  bottom: 88px;
}
#step2 {
  right: -87px;
  bottom: -104px;
}
#step3 {
  right: 138px;
  bottom: -30px;
}
#step4 {
  right: 138px;
  bottom: 203px;
}
#step5 {
  right: -87px;
  bottom: 274px;
}
@keyframes anim5 {
  from {
    background: rgba(255, 255, 255, 0);
  }
  to {
    background: rgba(255, 255, 255, 0.487);
  }
}
/* #circleBox {
  transform-origin: center;
  transform: translateY(626px) translateX(-1px);
  animation: spin 10s forwards 10s;
  animation-iteration-count: infinite;
}
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
} */
